@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    --padding: 1%;
    --cust-black: black;
}

*{
    font-family: "Montserrat", sans-serif;
    color: var(--cust-black);
}

body{
    margin: 0;
}


.container{
   display: none !important;
}

.title-small{
    font-size: 13px !important;
}

.bottom-controls{
    display: none !important;
}

@media only screen and (max-width: 400px) {
    .container{
        box-sizing: border-box;
        display: block !important;
        width: 100%;
        padding: var(--padding);
        padding-bottom: 15%;
    }
    .new-plan-icon{
       
    }

    .width-100{
        width: 100%;
    }

    .display-flex{
        display: flex;
        gap: 10px;
    }

    .filter{
        padding: 15px;
        background-color: rgb(245, 245, 245);
        border-radius: 50%;
    }

    .display-flex-center{
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .display-flex-center-align{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .gray-padding{
        padding: 10px !important;
        background-color: rgb(238, 238, 238);
        border-radius: 50%;
    }

    .profile-edit{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 999999;
        padding: var(--padding);
    }

    .change-profile-image{
        position: absolute;
        bottom: 0;
        background-color: white;
        padding: 4px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .display-flex-normal{
        display: flex;
        align-items: center;
    }

    .display-flex-end{
        display: flex;
        justify-content: flex-end;
    }

    .gap-10{
        gap: 10px;
    }


    .display-flex-space-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trunc-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
        
    }

    .nav{
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;

    }

    .f-right{
        float: right;
        
    }

    .border-bottom-curved{

    }
    
    

    .items-menu-icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon-large{
        font-size: 100px !important;
    }

    .padding-none{
        padding: 0 0 20% 0 !important;
    }

    #map{
        width: 100%;
        height: 250px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }

    .map{
        width: 100%;
        height: 250px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }

    #map button{
        border-radius: 0;
    }

    #map .gm-svpc{
        display: none !important;
    }

    .app-name{
        font-size: 21px;
    }

    .display-none{
        display: none;
    }

    .next-plan{
        position: absolute;
        top: -15px;
        right: 0;
        box-shadow: var(--shadow);
        background-color: white;
        margin-right: 3%;
        padding: 3%;
        border-radius: 50%;
    }

    .next-plan-back{
        position: absolute;
        top: -15px;
        left: 0;
        box-shadow: var(--shadow);
        background-color: white;
        margin-left: 3%;
        padding: 3%;
        border-radius: 50%;
    }

    .gray-padding-button{
        background-color: rgb(243, 243, 243);
        padding: 2%;
        border-radius: 30px;
    }

    input:focus, button:focus, a:focus{

        outline: none;
  
    }
    input[type=file]{
        display: none;
    }
    :-webkit-autofill::first-line {
        font-family: "Montserrat", sans-serif;
        background-color: inherit !important;
      }

    .new-plan{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20% 5%;
        padding: 3%;
        background-color: black;
        border-radius: 50%;
        color: white;
    }

    .offered{
        color: silver !important;
    }

    .plan-icon{
        font-size: 29px !important;
    }
  

    .display-flex-justify-center{
       display: flex;
       justify-content: center;
       align-items: center;
       grid-column-gap: 5px;
    }

    .gap{
        gap: 30px
    }

    .gap-small{
        gap: 8px
    }

    .app-icon{
        font-size: 60px !important;
    }

    .title-margin-left{
        margin-left: 10px;
    }

    .curved-top{
        box-shadow: var(--shadow);
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        position: absolute;
        left: 0;
        right: 0;
        padding-bottom: 20%;
    }

    .curved-top-padding{
        padding: 2%;
    }

    .app-padding{
        padding: var(--padding);
    }
    
    input, select, textarea{
        box-sizing: border-box;
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 30px;
        background-color: rgb(245, 245, 245);
    
    }

    .drive-chat{
        box-sizing: border-box;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: rgb(243, 243, 243);
        padding: 18px;
        width: 80%;
    }

    .chat-padding{
        padding-left: 20%;
        margin-top: 2%;
    }

    .chat-padding-drive{
        margin-top: 2%;
    }

    .ride-chat{
        box-sizing: border-box;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: rgb(243, 243, 243);
        padding: 18px;
    }
    .ride-chat *{
        color: black;
    }
    .type-message{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: var(--padding);
        display: flex;
        align-items: center;
        background-color: white;
    }

    .send-message{
        padding: 15px;
    }

    textarea{
        resize: none;
    }

    button{
        box-sizing: border-box;
        width: 100%;
        padding: 18px !important;
        border-radius: 30px;
        border: none;
        background-color: var(--cust-black);
        color: white;
    }

    .shadow-round{
        box-shadow: var(--shadow);
        border-radius: 50%;
        padding: 10px;
    }
    
    .display-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-align-center{
        text-align: center;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    .title{
        font-size: 25px;
    }
    
    .title-large{
        font-size: 30px;
    }
    
    img{
        object-fit: cover;
    }

    .cl-silver{
        color: silver;
    }

    .choose-ride-drive-item{
        box-shadow: var(--shadow);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .position-relative{
        position: relative;
    }

    .status-color-active{
        border: 2px solid rgb(16, 201, 16);

    }

    .status-color-drive{
        border: 2px solid gray;
    }



    ::-webkit-scrollbar {
    display: none;
    }

    .welcome-page-banner-1{
        width: 100%;
        border-radius: 30px;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }

    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px !important;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    }

    .cursor-pointer{
        cursor: pointer;
    }

    .font-size-20{
        font-size: 20px;
    }

    .rating-stars{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .rating-stars span{
        font-size: 35px;
    }

    .rating-stars-small{
        display: flex;
        align-items: center;
    }

    .rating-stars-small span{
        font-size: 20px;
    }

    .rating-stars-small-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rating-stars-small-center span{
        font-size: 20px;
    }
       


    .choose-ride-drive-a{
        text-decoration: none;
        color: black;
        font-size: 20px !important;
    }

    #map a {
        display: none !important;
    }
    .map a{
        display: none !important;
    }

    .gmnoprint a, .gmnoprint span {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }

    .choose-ride-drive-div{
        text-align: center;
        padding-bottom: 3%;
        padding-top: 7%;
    }

    .choose-ride-drive-div a{
        text-decoration: none;
        color: black;
      
    }

    .choose-ride-drive{
        font-size: 100px !important;
    }

    .choose-ride-drive-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-marketing{
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
    }

    .status-driving{
        color: silver !important;
    }

    .logo{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    
    .td-padding-right{
        padding-right: 5%;
    }
    
    .profile-image{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 6px;
        margin-left: 7px;
    }

    .profile-image-small{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .empty-profile-large{
        font-size: 150px !important;
    }

    .empty-profile-medium{
        font-size: 93px !important;
    }

    .empty-profile-small{
        font-size: 42px !important;
        margin-left: 3px;
    }
    
    .profile-image-large{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .menu{
        box-sizing: border-box;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 200px;
        z-index: 10;
        background-color: white;
        padding: var(--padding) var(--padding) var(--padding) 20px;
        box-shadow: 0px 0px 5px 0px gray;
        z-index: 50;
    }

    .text-align-right{
        text-align: right;
    }

    .material-icons-font{
        font-size: 30px;
    }

    .bottom-controls{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
    }
    .bottom-controls-item{
        text-align: center;
    }

    .display-flex-request-drive{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 30px;
    }

    .display-flex-request-drive table{
        color: white;
    }

    .bottom-controls-item-span{
        font-size: 14px !important;
    }
}


